
// body {
//     background-image: url(https://img.freepik.com/free-photo/vivid-blurred-colorful-wallpaper-background_58702-3798.jpg);
//     background-repeat: no-repeat;
//     background-size: cover;
// }

.join {
    font-size: 14px;
    color: black;
    font-weight: bold
}


.date {
    background-color: #ccc;
    display: inline-block;
}   

.rounded-circle{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.card {
    width: 400px;
    height: 300px;
    cursor: pointer
}