{% extends 'base.html' %}

{% block title %}Demaxlab Homepage{% endblock title %}

{% block body %}
    <div class="container">
        <h1 class="display-4 text-center">Trending articles</h1>
        <div class="mt-4 d-flex flex-wrap gap-3 justify-content-around">
            {% for article in articles %}
                <div class="card bg-dark" onclick="location.href = '#'">
                    <img class="card-img-top" src="{{ article.cover_image }}" alt="Card image" style="height:250px">
                    <div class="card-body p-0 m-0 d-flex align-items-center justify-content-around" style="height:50px">
                        <h4 class="card-title text-white m-0 ">{{ article.subject }}</h4>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    
{% endblock body %}